*{margin:0px; padding:0px;
}
body{
	font-family:Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-weight:normal;
	font-size:16px;
	width:100%;
	background:transparent;
	margin:0px; padding:0px;
}
.wrapper{
		width:1024px;
		margin: auto;
		height:auto;
		background-image: url('../images/affiliating.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		color:#fff;
		background-attachment:fixed;
		position: relative;
	}
.wrapper .header .logo,.social-media-icons{display: inline-block;
											}
.social-media-icons ul {
					position:absolute;
					left: 800px;
					top: 20px;
				}
.social-media-icons ul li{
						display: inline-block;
						background:transparent;
						}
.wrapper .header .logo{
					width:30%;
					background-color:#009999;
					border-radius:0px 50px 0px 50px;
					color:#fff;
					height:110px;
					margin-right:7px;
					text-align: center;
				}
.wrapper .header .logo h1{
						position:relative;
						top:20px;
						font-weight: 900;
						font-size:42px;
						font-weight: bold;
					}
.navBar,ul {
		list-style-type:none;
		position: relative;
	}

.navBar ul li {
			float:left;
			border:1px solid #fff;
			height:40px;
			line-height: 40px;
			background-color:#fc6000;
			position: relative;
}
.wrapper .navBar ul .active{
					background: #e6005c;
}
.navBar ul li a {text-decoration: none;
				padding:0px 21.65px;
				color:#ffffff;
				display: block;
				}

.navBar ul li:hover {background: #e6005c;
					}
/*.wrapper .header .navBar ul,li:active{background: #e6005c;} */
.navBar ul li ul {
			position: absolute;
			display: none;
			z-index: 1;

			}

.navBar ul li:hover ul {
						text-decoration:none;
						display:block;
						margin:0px;
						padding:0px;
						}
.navBar ul li:hover ul li {
						background:#a64dff;	width:245px;
						text-align: center;
						font-size: 15px;
						}
.navBar ul li:hover:last-child ul li {
							width:130px;
							}
.navBar ul li:hover:first-child ul li {
							width:182px;

							}
.navBar ul li:hover:nth-child(2) ul li {
							width:182px;

							}
.navBar ul li:hover:nth-child(3) ul li {
							width:182px;
						}
.navBar ul li:hover:nth-child(4) ul li {
							width:182px;
						}
.navBar ul li:hover ul li:hover {
							background-color: #ff6699;
								}
.wrapper .navBar ul li:hover ul li a{
							padding: 0px;
}
.wrapper .maincontent{
				position: relative;
				top:41px;
				width:100%;
				height: 950px;

			}
.maincontent .contener{
		height: 720px;
		width:90%;
		margin: 0;
		padding: 0;
		background-color: #000;
		position: absolute;
		top:60px;
		left:50px;
		opacity: .4;
	}
.wrapper .maincontent .left,.right{
							display: inline-block;
							}
.wrapper .maincontent .left{
						width:40%;
						height: 580px;
						position: absolute;
						top:80px;
						left:80px;
						font:normal normal normal 30px/1.4em 'Open Sans',sans-serif;
					}
.wrapper .maincontent .left .text{
								margin-bottom: 40px;
							}
.wrapper .maincontent .right{
						width:50%;
						height: 580px;
						position: absolute;
						top:80px;
						left:480px;
						font-size: 17px;
					}
.wrapper .maincontent .right span{
							font-weight: bold;
						}
.wrapper .maincontent .email{
 						position: absolute;
						top:800px;
						background-color:#009999;
						color:#fff;
						text-align: center;
						 width: 30%;
						font-size: 20px;
						 padding:15px 5px;
						}

.footer{
		padding:5px;
		text-align: center;
		background-color:#fc6000; }
@media only screen and (max-width:900px)
{
body{
	font-size:15px;
	}
.wrapper{
		width: 750px;
		min-width: 400px;
	}
.wrapper .header .logo	{
						width:40%;
						}

.wrapper .header .social-media-icons ul {
					position:absolute;
					left: 540px;
				}
.wrapper .navBar ul li a {
					padding:0px 5.23px;
				}
.wrapper .navBar ul li:hover:last-child ul li {
										width:90px;
									}
.wrapper .maincontent{
				position: relative;
				top:41px;
				width:100%;
				height: 950px;
			}
.maincontent .contener{
					width:95%;
					left:18px;
					height: 735px;
		}
.wrapper .maincontent .left{
						width:30%;
						left:30px;
						}

.wrapper .maincontent .right{
						width: 60%;
						left:310px;
						}
.wrapper .maincontent .right span{
							font-weight: bold;
							color: #9999ff
						}
	}
@media only screen and (max-width: 480px)
{
	.wrapper{
		width:310px;
		min-width:100px;
		height:1500px;
		background-color: #fff;
		}
.wrapper .header .logo,.social-media-icons{
										display:block;
										}

.wrapper .header .social-media-icons ul {
									left:150px;
									top:110px;
								}
.wrapper .header .social-media-icons ul li{
								display: inline-block;
								background:transparent;
							 }
.wrapper .header .logo	{
						width:310px;
						border-radius: 0px;
					}
.navbtn{
	font-weight:bold;
	font-size:20px;
	background-color:#fc6000;
	display:inline-block;
	padding: 10px 30px 10px 40px;
	cursor:pointer;
}
.navbtn::before{
				content:"Menu";
				}
.wrapper .navBar {
				width: 310px;
				display:none;
}
.wrapper .navBar ul li {
						top:5px;
						float:none;
						text-align: center;
					 }
.wrapper .navBar ul li ul li {
					top:0px;
				}
.wrapper .maincontent{
				position: relative;
				top:10px;
				width:100%;
				height: 1425px;

			}
.maincontent .contener{
				height: auto;
				width:100%;
				top:2px;
				left:0px;

			}
.wrapper .maincontent .left,.right{
							display: block;

							}
.wrapper .maincontent .left{
						width:100%;
						top:10px;
						left:50px;
						font-size: 25px;
						}

.wrapper .maincontent .right{
						width:99%;
						height: 580px;
						position: absolute;
						top:550px;
						left:5px;
						font-size: 15px;
					}

.wrapper .maincontent .email{
 						top:1335px;
						 width: 97%;
					}
/*.wrapper .footer{
			position: relative;
			top:-100px;
			padding:5px;
			text-align: center;
			background-color:#fc6000;
		 }*/
}